@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .curve {
    clip-path: polygon(
      100% 1%,
      100% 92%,
      84% 88%,
      78% 87%,
      57% 91%,
      36% 88%,
      27% 89%,
      0 100%,
      0 0
    );
  }
}
.hero-banner {
  background-image: url("/images/baner.png");
  @apply w-full h-screen object-cover bg-no-repeat bg-cover bg-center;
}

#hero_img {
  animation: img-animate 7s ease-in-out infinite;
}
@keyframes img-animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
