@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .prayer_input {
    @apply block border  w-full p-3 rounded mb-1 focus:outline-dotted;
  }
  .prayer_label {
    @apply ml-1 text-lg;
  }
}

.hero-banner {
  background-image: url("/images/baner.png");
  @apply w-full h-screen object-cover bg-no-repeat bg-cover bg-center;
}

#hero_img {
  animation: img-animate 7s ease-in-out infinite;
}
@keyframes img-animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
